.all-btn {
  background-color: blue;
  width: 20%;
  color: white;
  border-radius: 7px 0px 0px 7px;
  border: 1.4px solid lightgrey;
}

.middle-btn {
  background-color: white;
  width: 20%;
  color: blue;
  border-radius:0px;
  border: 1.4px solid lightgrey;
}

.end-btn {
  background-color: white;
  width: 20%;
  color: blue;
  border-radius:0px 7px 7px 0px;
  border: 1.4px solid lightgrey;
}

.button-tabs {
  margin-top: 22px !important;
}

.secondStartBtn{
  background-color: blue;
  width: 50%;
  color: white;
  border-radius: 7px 0px 0px 7px;
  border: 1.4px solid lightgrey;
}

.secondEndBtn {
  background-color: white;
  width: 50%;
  color: blue;
  border-radius:0px 7px 7px 0px;
  border: 1.4px solid lightgrey;
}