.all-btn {
  background-color: blue;
  width: 19%;
  color: white;
  border-radius: 7px 0px 0px 7px;
  border: 1.4px solid lightgrey;
}

.middle-btn {
  background-color: white;
  width: 19%;
  color: blue;
  border-radius:0px;
  border: 1.4px solid lightgrey;
}

.end-btn {
  background-color: white;
  width: 19%;
  color: blue;
  border-radius:0px 7px 7px 0px;
  border: 1.4px solid lightgrey;
}

.button-tabs {
  margin-top: 34px !important;
}

.secondStartBtn{
  background-color: blue;
  width: 48%;
  color: white;
  border-radius: 7px 0px 0px 7px;
  border: 1.4px solid lightgrey;
}

.secondEndBtn {
  background-color: white;
  width: 48%;
  color: blue;
  border-radius:0px 7px 7px 0px;
  border: 1.4px solid lightgrey;
}

.tabs-margin {
  margin-left: -17px !important;
}

.tabs-margin-right {
  margin-left: -47px !important;
}