
.col-card {
  border: 1px solid lightgrey;
  padding: 44px;
  background-color: blue;
  border-radius: 7px;
  margin-right: 10px !important;
  color: white;
}

.card-row {
  margin: 17px 2px !important;
}

.col-card-child {
  border: 1px solid lightgrey;
  padding: 31px !important;
  border-radius: 7px;
  margin-top: 45px !important;
  margin-right: 7px !important;
  width: 15.8% !important;
  color: white;
}

.col-card-child1 {
  background-color: green;
}

.col-card-child2 {
  background-color: grey;
}

.col-card-child3 {
  background-color: black;
}

.col-card-child4 {
  background-color: red;
}

.col-card-child5 {
  background-color: #429ae0;
}

.num-align {
  margin-top: 11px !important;
  margin-left: 25px !important;
}

.digit-align {
  font-size: xx-large !important;
  margin-left: -25px !important;
}

.border-row {
  border-bottom: 1px solid lightgrey;
  padding-left: 5px !important;
}
.tracked-text {
  position: absolute;
  margin-left: -827px !important;
}


